<div>
  <h2 id="page-heading" data-cy="PizzaHeading">
    <span>Pizzas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pizza"
        [routerLink]="['/pizza/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Pizza </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pizzas?.length === 0">
    <span>No pizzas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pizzas && pizzas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="pizzaSize"><span>Pizza Size</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="price"><span>Price</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let pizza of pizzas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pizza', pizza.id, 'view']">{{ pizza.id }}</a>
          </td>
          <td>{{ pizza.pizzaSize }}</td>
          <td>{{ pizza.price }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/pizza', pizza.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/pizza', pizza.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(pizza)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
